%h1 Log in
%p Please enter your e-mail address. If you don't already have an account, we'll create one.
= form_for @user_session, :url => user_session_path do |f|
  = f.label :email, 'E-mail address'
  = f.email_field :email
  = f.submit "Log in"